.containers{
  margin-left:auto;
  margin-right: auto;
  width: 100%;
  max-width: 1300px;
}

nav {
  position: fixed;
  background-color: #FFBC2A;
  z-index: 1;
}

nav .nav-wrapper {
  margin: 0;
  padding: 0;
}

#sidenav-overlay {
  z-index: 0;
}

.row {
  margin-bottom: auto;
}

main {
  width: inherit;
  max-width: inherit;
}

.newCard-card{
  position: relative;;
  top: -35px;
}

.newCard-action {
  height: 20;
  top: 43px;
  left: calc(100% - 35px);
}

.deleteCard {
  display: none;
  position: absolute;
  top: -5px;
  left: calc(100% - 30px);
}

.card>* {
  background-color: #477acf;
}

.card:hover .card-content{
  background-color: #2b4b81;
}

.card:hover .deleteCard{
  display: inline-block;
}

.content {
  line-height: 110%;
}

footer.page-footer {
  position:fixed;
  bottom: 0;
  width: inherit;
  max-width: inherit;
  background-color: #FFBC2A;
}

footer.page-footer .footer-copyright {
  font-weight: bold;
  color: #FFFFFF;
}
